@model IEnumerable<Final_Project_Team12.Models.BankAccount>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BankAccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BankAccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BankAccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
